#IndexIgnore */*
<IfModule mod_rewrite.c>
	RewriteEngine On
#	RewriteBase /develop/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]
#	RewriteEngine on
#	#RewriteBase /public_html/
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
#	#RewriteRule . index.php
#	RewriteRule ^.*$ /public_html/index.php
</IfModule>

php_value upload_max_filesize 20M
php_value post_max_size 20M


#php_flag  log_errors on
#php_value error_log  /simht/public_html/PHP_errors.log
